body {
    font-family: "Roboto", sans-serif;
    color: black;
    margin: 0;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1560114928-40f1f1eb26a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjg2ODQyfQ&w=1000&q=80");
    
}

ul {
    list-style-type: none;
}

header {
    margin-top: 25px;
    height: 80px;
    color: black;
    margin-bottom: 55px;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

header h1 {
    line-height: 1;
    top: 24px;
    text-align: center;
}

header .question-and-scores {
    font-size: 20px;
    font-weight: 600px;
    color: white;
    background: none;
}

img {
    width: 100%;
}
.question-and-score ul {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

.qustion-and-score li {
    display: inline-block;
    padding: 0 2%
}

button {
    margin-top: 10px;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: black;
    background: skyblue;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
    border-radius: 3px;
    padding: 10px 20px;
}

fieldset {
    width: 80%;
    padding: 40px;
    margin: 0 auto;
    background: grey;
    border-radius: 10px;
}

legend {
    font-weight: 700;
    font-size: 18px;
}

.question-form .question {
    margin-bottom: 20px;
    padding: 0 2%;
    font-size: 20px;
    font-weight: 600px;
}

.options ul {
    list-style: none;
    margin: 0;
    text-align: left;
}

label {
    font-size: 18px;
}

.options span {
    display: block;
    border-radius: 5px;
}

.right-answer {
    margin: 5px 20px;
    border: 2px solid greenyellow;
}

.wrong-answer {
    margin: 5px 20px;
    border: 2px solid red; 
}

.question-form button {
    float: right;
}

button:hover:enabled,
button:focus:enabled {
    background-color: white;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}

button:disabled {
    opacity: 0.5;
}